---
import Header from '../components/widgets/Header.astro';
import Footer from '../components/widgets/Footer.astro';

interface Props {
  title?: string;
  description?: string;
}

const title = 'Michael Maddison';
const description = 'My portfolio website';
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="/assets/favicons/igloo-logo.svg" type="image/svg+xml" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-[#2E3440] text-[#D8DEE9] font-sans antialiased">
    <Header />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />
  </body>
</html>
